---
export interface Props {
  id: string
}
const { id } = Astro.props
const publicacio = `https://www.aster.cat/mm/file/AsterPublicacio/AsterPublicacio${id}.html`
---
 <!-- CALLWEB -->     
      <table align="center" width="100%">
            <tbody>
              <tr>
                <td>
                  <table align="center" width="800">
                    <tbody>
                      <tr>
                        <td>
                          <p align="center" style="margin: 0">
                            <span style="font-family:&quot;Arial&quot;,sans-serif;font-size:7pt;color:black">
                              Si no pots veure correctament aquest correu, ves a la
                            </span>
                            <span style="font-family:Arial,sans-serif;font-size:7pt;color:rgb(17,136,230)">
                              <a href={publicacio} style="color:rgb(17,136,230)"
                                 target="_blank">
                                versió en línia
                              </a>
                            </span>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
  <!-- End of CALLWEB ! -->
 