---
export interface Props {
  category: string
}
const { category } = Astro.props
---
 <!-- CATEGORY -->     
      <table align="center" width="100%">
            <tbody>
              <tr>
                <td>
                  <table class="row-content mn-row-content-headline" align="center" width="800">
                    <tbody>
                      <tr>
                        <td>
                          <table width="100%" >
                            <tr>
                              <td>
                                <h1 class="mn-main-headline">
                                  <span>{category}</span>
                                </h1>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
  <!-- End of CATEGORY ! -->
 