---
import Category from "./Category.astro";
---
 <!-- FOOTER -->
 <!-- <Category category='' /> --> 

<div valign="center" height="45" align="center" style="padding: 2rem 0rem"; >
	<table >
	<tbody>
		<tr>
			<td class="ft-paragrapf" style="background:#007C89;border-radius:1rem">
				<table class="row-content">
					<tbody>
							<td>
								<table>
									<tbody>
										<tr>
											<td>
												<div>
												<a href="https://www.aster.cat/forms/nousoci" style="color:#ffffff; text-decoration:none;" class="mn-h1-article-title" target="_blank">Fes-te soci d'Aster</strong>
												</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
	</table>
</div>


	<div>
		<table >
		<tbody>
			<tr>
				<td class="ft-paragrapf">
					<table class="row-content">
						<tbody>
								<td>
									<table>
										<tr>
											<td>
												<div align="center">
													<div class="ft1-div-img"> 
														<img src="https://www.aster.cat//images/codi-etic.jpg" class="ft1-img" width="61"
															alt="Aster, Agrupació Astronòmica de Barcelona, declarada Entitat d'utilitat pública segons resolució del Departament de Justícia de la Generalitat de Catalunya, número JUS/3230/2009 del 12/11/2009"
															title="Aster, Agrupació Astronòmica de Barcelona, declarada Entitat d'utilitat pública segons resolució del Departament de Justícia de la Generalitat de Catalunya, número JUS/3230/2009 del 12/11/2009">
													</div>
													<div class="ft2-div-p">
														<p class="ft2-pad">Aster, Agrupació Astronòmica de Barcelona, declarada Entitat
															d'utilitat pública segons resolució del Departament de Justícia de la Generalitat de
															Catalunya, número JUS/3230/2009 del 12/11/2009</p>
													</div>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
	<!-- <Category category='' />  -->
	<!-- End of FOOTER -->
</body>
</html>