
<table align="center" width="100%">
  <tbody>
    <tr>
      <td
        style="background-color:#ffffff;padding-top:48px;padding-bottom:12px;padding-right:24px;padding-left:24px"
        class="BlockContainer"
        valign="top"
        >
        <div
          class="Text"
          id="dataBlockId-1"
          style="width:100%"
        >
          <p>
            <a
              href="https://mailchi.mp/e39eac8c14f9/cursos-en-devtalles-desde-10-por-tiempo-limitado-15385420?e=20129c0b68"
              target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://mailchi.mp/e39eac8c14f9/cursos-en-devtalles-desde-10-por-tiempo-limitado-15385420?e%3D20129c0b68&source=gmail&ust=1703414540906000&usg=AOvVaw0VZ3BcsRaupOKmg2ypl2fD"
              >Ver el correo en la web
            </a>
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>  